/* -----------------------------------------
   Estilos generales y body
----------------------------------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4ff;
    margin: 0;
    padding: 0;
    color: #1b3a70;
}


 /*  Estilos para pagina Home (Ejercicio 1 y 2) */

.main-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}

.main-container .button {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.3s;
}

.main-container .button:nth-child(1) {
    /*background-color: #9c27b0;*/
    background-color: #c42cde;
}

.main-container .button:nth-child(2) {
    /*background-color: #8bc34a;*/
    background-color: #9ae643;
}

/* hover más oscuro */
.main-container .button:nth-child(1):hover {
    background-color: #a127c3;
}
.main-container .button:nth-child(2):hover {
    background-color: #80c834;
}



 /*  Contenedores de formularios */

.form-container {
    width: 500px;
    max-width: 95%;
    margin: 50px auto;
    padding: 35px;
    background: white;
    border-radius: 15px;
    box-shadow: none;
    color: black;
    text-align: center;
}


.form-container h1 {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Labels centrados y normales */
.form-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: normal;
}

/* Inputs centrados y más grandes */
.formulario input {
    padding: 14px;
    margin: 0 auto 20px auto;
    border: 2px solid #8fa8d6;
    border-radius: 8px;
    font-size: 1rem;
    display: block;
    width: 90%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Botones centrados y estilizados */
.boton-formulario,
.boton {
    background-color: #157ae6;
    color: white;
    padding: 10px 15px;
    margin: 20px auto 0 auto;
    border: none;
    border-radius: 12px;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: block;
    transition: 0.3s;
}



/*    Mensajes de resultado  */

.mensaje-error {
    color: black;
    font-weight: normal;
    text-align: left;
    margin-top: 15px;
}

.mensaje-exito {
    color: black;
    font-weight: bold;
    margin-top: 15px;
}


/*  Resultados de Ejercicio 1 */

.resultado {
    text-align: left;
    margin-top: 15px;
    width: 100%;
}

.resultado p {
    margin: 9px 0;
    font-size: 1rem;
}

/*  Resultados de Ejercicio 2 */

.resultado-login {
    text-align: left;
    margin-top: 16px;
    font-weight: normal;
}

